- name: Install Apache on Ubuntu VM
  hosts: web
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install apache2
      apt:
        name: apache2
        state: present

    - name: Start apache
      service:
        name: apache2
        state: started
        enabled: yes
